<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Accueil</title>
    </head>

    <body>
        <h1>Ceci est la page d'accueil d'affichage des capteurs.</h1>
		<div>
			{% for caption, collectDict in data.items() %}
			<table>
				<tr>
					<th></th>
					<th> {{caption.name }} </th>
				</tr>
				<tr>
					{% for type, collectArray in collectDict.items() %}
					<tr>
						<td rowspan=' {{ collectArray|length }} '> {{ type }} </td>
						{% for collect in collectArray %}
							<tr>						
								<td> {{collect.value}} </td>
								<td> {{collect.date}} </td>
								<td> {{collect.data.id }} </td>
							</tr>
						{% endfor %}
					</tr>
					{% endfor %}
				</tr>

			</table>
			{% endfor %}
		</div>
		


    </body>
</html>
