<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Accueil</title>
	<meta http-equiv="Refresh" content="300" >
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
		<h1>Ceci est la page d'accueil d'affichage des capteurs.</h1>

		<table class="table table-hover">
			<tr><th>Id</th>
				<th>Capteur</th>
				<th>Données</th>
				<th>Valeur</th>
				<th>Seuil</th>
				<th>Fréquence</th>
				<th></th>
			</tr>
			{% for threshold in data.thresholds %}
				<tr>
					<td>{{ threshold.id}}</td>
					<td>{{ threshold.caption.name}}</td>
					<td>{{ threshold.data.name}}</td>
					<td>{{ threshold.value}}</td>
					<td>{{ threshold.higher}}</td>
					<td>{{ threshold.frequency}}</td>
					<td><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#{{ threshold.id }}">Modifier</button></td>
				</tr>

			{% endfor %}
		</table>

		{% for threshold in data.thresholds %}
		<!-- Modal -->
		<div class="modal fade" id="{{ threshold.id }}" role="dialog">
			<div class="modal-dialog modal-lg">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Seuil</h4>
					</div>
					<div class="modal-body">
						<label for="capteur{{ threshold.id }}">Capteur:</label>
						<select  class="form-control" id="capteur{{ threshold.id }}">
							{% for caption in data.captions %}
								<option  value="{{ caption.macAddress }}"
										 {% if caption.macAddress == threshold.caption.macAddress %}
										 selected
										 {% endif %}
								>
									{{ caption.name }}
								</option>
							{% endfor %}
						</select>
						<label for="donnee{{ threshold.id }}">Donnée:</label>
						<select  class="form-control" id="donnee{{ threshold.id }}">
							{% for data in data.datas %}
							<option  value="{{ data.id }}"
									 {% if data.id == threshold.data.id %}
									 selected
									 {% endif %}
							>
								{{ data.name }}
							</option>
							{% endfor %}
						</select>
						<label for="value">Value:</label>
						<input type="text" class="form-control" id="value" value="{{ threshold.value }}">

						<label for="frq">Fréquence:</label>
						<input type="text" class="form-control" id="frq" value="{{ threshold.frequency }}">





					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Modifier</button>
					</div>
				</div>

			</div>
		</div>
		{% endfor %}
</body>
</html>
<script src="{{ url_for('static', filename='js/jquery-1.12.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>